/* CSS file for wp common elements */

/* Lightbox zoom effect */

.my-mfp-zoom-in .mfp-content {
	-webkit-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
	-webkit-transition: all 0.2s ease-in-out; 
	-moz-transition: all 0.2s ease-in-out; 
	-o-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out; 	
	-webkit-transform: scale(0.8); 
	-moz-transform: scale(0.8); 
	-ms-transform: scale(0.8); 
	-o-transform: scale(0.8); 
	transform: scale(0.8); 
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .mfp-content {
	-webkit-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
	-webkit-transform: scale(1); 
	-moz-transform: scale(1); 
	-ms-transform: scale(1); 
	-o-transform: scale(1); 
	transform: scale(1); 
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .mfp-content {
	-webkit-transform: scale(0.8); 
	-moz-transform: scale(0.8); 
	-ms-transform: scale(0.8); 
	-o-transform: scale(0.8); 
	transform: scale(0.8); 
	-webkit-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
	opacity: 0.001; /* Chrome opacity transition bug */
	-webkit-transition: opacity 0.3s ease-out; 
	-moz-transition: opacity 0.3s ease-out; 
	-o-transition: opacity 0.3s ease-out; 
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
	-webkit-opacity: 0.8;
	-moz-opacity: 0.8;
	opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
	-webkit-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
}

/* @group Wordpress Gallery */

ul.ep-gallery{ margin: 0 -15px !important; list-style: none !important; padding: 0 !important; }
ul.ep-gallery li{ list-style: none !important; padding-bottom: 20px !important; text-align: center; }
ul.ep-gallery li:before{ display: none !important; }
ul.ep-gallery li a{ display: block; position: relative; z-index: 1; }
ul.ep-gallery li a i{
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 2;
	font-size: 14px;
	margin: -12px 0 0 -12px;
	width: 25px;
	height: 25px;
	background: #1f4075;
	color: #fff;
	text-align: center;
	line-height: 25px;	
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
ul.ep-gallery li a:hover i{ background: #64b22e; }
ul.ep-gallery.columns-6 li{ width: 16.6%; }
ul.ep-gallery.columns-7 li{ width: 14.28%; }
ul.ep-gallery.columns-8 li{ width: 12.5%; }
ul.ep-gallery.columns-9 li{ width: 11.1%; }

/* @end */

/* @group Editor */

div.texto{ line-height: 1.6; }
div.texto.small{ font-size: 13px; }
div.texto.large{ padding-top: 20px; }
div.texto hr{ width: 25px; margin: 0 0 20px; border-width: 2px; }
div.texto iframe{
	display: block;
	width: 100%;
	height: 475px;	
}
div.ep-map img, div#map_canvas img{ max-width: none !important; height: inherit; }
div.texto img{
	max-width: 100%;
	height: auto;
}
div.texto .wp-caption{ margin-bottom: 30px !important; max-width: 100% !important; text-align: center; padding-top: 4px; }
div.texto .wp-caption-text{
	background: #eee;
	color: #333;
	padding: 5px;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
div.texto .wp-caption img, div.texto .gallery-item img{
	display: block;
	margin: 0;
	padding: 0;
	border: 0 !important;
	max-width: 100%;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}
div.texto .gallery-item img{ margin: 0 auto; }
div.texto .gallery-caption{
	margin: 2px 0 0;
	background: none;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;	
}
div.texto p.attachment{ text-align: center; }
div.texto img.alignleft{ margin: 0 35px 0 0; }
div.texto img.alignright{ margin: 0 0 0 35px; }
div.texto p, div.texto h1, div.texto h2, div.texto h3,
div.texto h4, div.texto h5, div.texto h6{ margin-bottom: 20px; }
div.texto h1, div.texto h2, div.texto h3,
div.texto h4, div.texto h5, div.texto h6{
	font-size: 24px;
	margin-bottom: 20px;
	opacity: .99;
	text-transform: uppercase;
	color: #1f4075;
	line-height: 1.3;
	font-weight: bold;
}
div.texto h1{ font-size: 32px; }
div.texto h2{ font-size: 28px; }
div.texto h3{ font-size: 24px; }
div.texto h4{ font-size: 20px; }
div.texto h5{ font-size: 18px; }
div.texto h6{ font-size: 16px; }
div.texto a{ color: #64b22e; padding-bottom: 0px; text-decoration: underline; }
div.texto a.button{ padding: 13px 20px; text-decoration: none; background: #1f4075; color: #fff; margin: 0 3px; }
div.texto a:hover{  }
div.texto a.ep-shortcode:hover, div.texto .ep-shortcode a:hover{ text-decoration: none; }
div.texto .ep-shortcode.ep-columna.posicion-izq{ padding-left: 0; padding-right: 30px; }
div.texto .ep-shortcode.ep-columna.posicion-der{ padding-left: 30px; padding-right: 0; }
div.texto .ep-paso{
	font-size: 48px;
	font-weight: 100;	
}
div.texto ul, div.texto ol{ margin: 0 0 0 15px; }
div.texto ul, div.texto ul li{ list-style: none; padding-bottom: 5px; position: relative; }
div.texto ul li{ padding-left: 15px; }
div.texto ul li:before{
	content: '';
	width: 6px;
	height: 6px;
	position: absolute;
	left: 0;
	top: 10px;
	background: #64b32e;
	border-radius: 50%;	
}
div.texto ul li ul{ margin: 5px 0 0 0; }
div.texto ul li ul li{ padding-left: 0; }
div.texto ul li ul li:before{
	display: none;
}
div.texto.large ul li{ padding-bottom: 20px; }
div.texto ol, div.texto ol li{ list-style-type: decimal; list-style-position: inside; padding-bottom: 10px; }
div.texto ol ol{ list-style: upper-alpha; }
div.texto ol ol ol{ list-style: lower-roman; }
div.texto ol ol ol ol{ list-style: lower-alpha; }
div.texto ul ul, div.texto ol ol, div.texto ul ol, div.texto ol ul{ margin-bottom: 0; }
div.texto dl{ margin: 0 1.5em; }
div.texto dt{ font-weight: bold; }
div.texto dd { margin-bottom: 15px; }
div.texto blockquote em, div.texto blockquote i, div.texto blockquote cite{ font-style: italic; }
div.texto pre{ font: 11px/14px Monaco, monospace; overflow: hidden; }
div.texto code{ font: 11px Monaco, monospace; }
div.texto abbr, div.texto acronym{ border-bottom: 1px dotted; cursor: help; }
div.texto ins{ text-decoration: none; }
div.texto ul, div.texto ol, div.texto dd, div.texto pre, div.texto blockquote{
    padding-bottom: 20px;
	margin-bottom: 0;
	line-height: 1.6;
}
div.texto p:last-of-type{ }
div.texto blockquote{
	padding: 5px 5px 0px 80px;
	margin: 0 40px;
	background: url(../images/comillas.png) no-repeat left 10px;
	font-style: normal;
	font-size: 24px;
	color: #074a85;
	font-weight: bold;
	position: relative;
	z-index: 1;	

}
div.texto blockquote:before{

}
div.texto blockquote ul{ padding-bottom: 0; }
div.texto blockquote p, div.texto blockquote ul li{ padding-bottom: 5px; }
div.texto pre, div.texto code{
	font: 12px/1.6 Monaco, monospace;
	margin-bottom: 20px;
	background: #eee;
	color: #999;
	border: 1px solid #ddd;
}
div.texto code {
	padding: 3px 5px;
}
div.texto pre{
	padding: 10px;
	line-height: 1.8;
	margin-bottom: 20px;
	overflow: auto;
	background: #F7F7F9;
	border: 1px solid #E1E1E8;
}
div.texto pre code{ border: 0; }
div.texto pre ol{ margin: 0 0 0 35px; padding: 0; list-style: decimal; list-style-position: outside; }
div.texto pre ol li{ padding-bottom: 0; list-style-position: outside;  }

div.texto table{ margin-top: 15px; text-align: center; border: 1px solid #ccc; }
div.texto table, div.texto table th, div.texto table td{ border: 1px solid #ccc; padding: 5px 10px; text-align: center; }
div.texto table th{ font-weight: bold; }
div.texto .gallery dl{ margin: 0; }
div.texto address{ font-style: italic; }

/* @end */

/* @group Forms */

form.formulario{ display: block; position: relative; z-index: 1; }
form.formulario .titulo{ margin-bottom: 40px; }
form.formulario p{ font-size: 14px; margin-bottom: 20px; }
form.formulario .captcha{ margin-bottom: 20px; }

input[type=text], 
input[type=password],
input[type=email],
input[type=tel],
input[type=url],
textarea,
select{
	display: inline-block;
	background: #fff;
	color: #848484;
	font: 12px 'Open Sans';
	font-weight: 300;
	padding: 10px 15px;
	height: 40px;
	width: 100%;
	border: 0;
	border: 1px solid #999;
	outline: 0;
	opacity: .99;
	vertical-align: top;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
	resize: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;  
}
select.nice-select{ display: block !important; opacity: 0; position: absolute; z-index: -9999; border: 0; }
select.blue{ border-radius: 3px; }
select.blue, select.blue option{
	background: #1f4075;
	color: #fff;
	border: 0;	
}
select.blue:focus{ color: #fff; }
input[type=text]:focus, 
input[type=password]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=url]:focus,
textarea:focus,
select:focus{
	color: #666;
	border-color: #1f4075;
}
input[disabled]{
	opacity: .3;
	cursor: not-allowed;	
}
select{ cursor: pointer; }
select option{ cursor: pointer; line-height: 1.6; font-size: 14px; color: #333; }
.select{ display: inline-block; position: relative; z-index: 10; border-bottom: 2px solid #f3f3f3; }
textarea{ height: 100px; line-height: 1.6; overflow-x: hidden; }
button{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;	
}

form .first,
form .last{ padding: 0; }
form .first{ padding-right: 5px; }
form .last{ padding-left: 5px; }
form div.input-wrapper{ margin-bottom: 10px; }
form label{ display: inline-block; margin-bottom: 10px; }
form label.radio{
	margin: 0 20px 0 0;
	color: #8a929a;
	font-size: 11px;
	font-style: italic;
	position: relative;
	padding-left: 30px;
}
form label.radio input{
	margin-top: -8px;
	width: 16px;
	height: 16px;
	position: absolute;
	left: 0;
	top: 50%;
}
form p.requeridos{ font-size: 11px; margin-bottom: 30px; }
form p.requeridos i{ font-size: 14px; margin-right: 5px; top: 1px; position: relative; }
form .submit{ float: right; }
form .submit.loading{
	background: #636f7c;
	color: #fff;
	pointer-events: none;
}
form .submit span.loading{ display: none; }
form .submit.loading span.default{ display: none; }
form .submit.loading span.loading{ display: block; }
form div.msg-exito{
	display: none;
	text-align: left;
	line-height: 1.6;
	background: #fff;
	border: 1px solid rgba(255,255,255,0.25);
	margin-bottom: 20px;
	padding: 15px;
	padding-left: 50px;
	letter-spacing: px;
	position: relative;
	z-index: 1;
}
form div.msg-exito p{ margin: 0; }
form div.msg-exito i{
	position: absolute;
	left: 15px;
	top: 50%;
	font-size: 24px;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	margin-top: -10px;	
}
form div.msg-exito2{
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background: #151A1F;
	z-index: 3;
}
form div.msg-exito2 div.icono{
	border: 2px solid #44484C;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	margin: 0 auto 20px;
	color: #44484C;
	font-size: 25px;
}
form div.msg-exito2 h3{ font-size: 24px; margin-bottom: 20px; font-weight: 400; }
form div.msg-exito2 div.table{ display: table; 	width: 100%;
	height: 100%;	 }
form div.msg-exito2 div.middle{
	display: table-cell;
	vertical-align: middle;

}
.empty{ border: 1px solid #F15F74 !important; }
::-webkit-input-placeholder{ color: #848484; }
::-moz-placeholder{ color: #848484; }
:-ms-input-placeholder{ color: #848484; }
:-moz-placeholder{ color: #848484; }

/* @end */

/* @group Contact Form 7 Basic Support */

div.wpcf7 span.wpcf7-not-valid-tip{ display: block; padding: 5px; line-height: 1.4; font-size: 13px; }
/*div.wpcf7 img.ajax-loader{ float: right; margin: 15px 10px 0 0; }*/
div.wpcf7-response-output{
	clear: both;
	border: 0 !important;
	background: #000000;
	padding: 10px 15px !important;
	font-size: 16px;
	color: #fff;
	margin: 10px 0 !important;
	position: relative;
	text-align: center;
}

/*div.wpcf7-response-output.wpcf7-validation-errors{
	background: #FADBD8;
	border-left: 40px solid #F0938A !important;	
}
div.wpcf7-response-output.wpcf7-mail-sent-ok{
	background: #D4EFDF;
	border-left: 40px solid #7DCE9F !important;
}
*/

/* @end */
