/* CSS Document */

@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/flaticon.svg#Flaticon") format("svg"),
		 url("../fonts/flaticon.woff") format("woff"),
		 url("../fonts/flaticon.ttf") format("truetype");
		 
	font-weight: normal;
	font-style: normal;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	line-height:1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Flaticon';
	font-weight: normal !important;
	font-style: normal !important;
	opacity: .99;
}

.flaticon-arrow-left:before { content: "\f106"; }
.flaticon-arrow-right:before { content: "\f108"; }



.flaticon-plus:before { content: "\f100"; }
.flaticon-menu:before { content: "\f101"; }
.flaticon-circle-left-arrow:before { content: "\f102"; }
.flaticon-pdf:before { content: "\f103"; }
.flaticon-circle-right-arrow:before { content: "\f104"; }
.flaticon-plus2:before { content: "\f105"; }
.flaticon-left-arrow:before { content: "\f106"; }
.flaticon-up-arrow:before { content: "\f107"; }
.flaticon-right-arrow:before { content: "\f108"; }
.flaticon-pdf-file:before { content: "\f109"; }
.flaticon-down-arrow:before { content: "\f10a"; }
.flaticon-close:before { content: "\f10b"; }
.flaticon-menu2:before { content: "\f10c"; }