/* CSS Document */

/* Large desktops */

@media only screen and (min-width: 1170px){
	
	.hide-on-desktop-lg{ display: none !important; }
	
	#proyectos-int #modelos .slick-slider.aligncenter .slick-track{ width: 100% !important; }

}

@media only screen and (max-width: 1600px){
	
	.titulo{ font-size: 18px; }
	.section{ padding-top: 60px; padding-bottom: 60px; }
	.slick-dots{ bottom: -40px; }
	
	.fullscreen.columns .section{ padding-left: 60px; padding-right: 60px; }
	.fullscreen.columns div.texto{ line-height: 1.8; }
	
	#pagina-somos #obras-historicas div.detalle,
	#pagina-somos #obras-historicas div.lista{ height: 550px; }
	#pagina-somos #obras-historicas .slick-slider div.item{ height: 450px; }

}

/* Smalls desktops and Tablets */

@media only screen and (min-width: 981px) and (max-width: 1169px){
	
	.hide-on-desktop-sm{ display: none !important; }
	.wow{ -webkit-opacity: 1 !important; opacity: 1 !important; }
	.listado div.item{ width: 50%; }
	
	/* @group Header */

	
	/* @end */
	
	/* @group Interior Proyectos */

	
	/* @end */
	

}

/* All Mobile Devices */

@media screen and (max-width: 980px){

	/* @group Estilos Globales */
	
	.np-tablet{ padding-left: 0; padding-right: 0; }
	body{
		min-width: inherit;
	}
	img{ max-width: 100%; height: auto; }
	div.video{ display: none; }
	ul.ep-gallery.columns-6 li,
	ul.ep-gallery.columns-7 li,
	ul.ep-gallery.columns-8 li,
	ul.ep-gallery.columns-9 li{ width: 33%; }
	
	.parallax{ background-attachment: scroll !important; }
	
	.titulo.medium{ font-size: 20px; }
	.titulo.large{ font-size: 30px; }
	
	
	/* @group Listado Global */

	.has-video img,
	.has-video div.img,
	.has-video .fullimg{ visibility: visible !important; z-index: 1 !important; }
	
	/* @end */
	
	/* @group Header */

	#header div.abrir-menu{ right: 0; margin-right: 20px; }
	
	/* @end */
	

	
	/* @group Interior Proyecto */
	
	/*#proyectos-int div.top{ position: absolute; }*/
	
	#proyectos-int #programa div.item{ padding-top: 15px; padding-bottom: 15px; }
	#proyectos-int #modelos{ height: auto !important; }
	.bloques-flexibles{ min-height: inherit !important; }
	div.filtro{ float: none; text-align: left; }
	#proyectos-int #plantas .lista-plantas{
		height: auto;	
	}
	#proyectos-int #obra div.right{ margin-top: 30px; }
	#proyectos-int #ubicacion{ height: 550px; }
	#proyectos-int #ubicacion div.info{ top: 10px; left: 10px; padding: 20px; }
	#proyectos-int #consultas #formulario{ padding-right: 0; padding-top: 0; }
	
	/* @end */
	
	
	#novedades .listado .count-2,
	#novedades .listado .count-3{ padding: 0; }
	#novedades .listado .item.large{ padding: 25px; min-height: inherit; }
	#novedades .listado .right{ margin-left: -15px; margin-top: 20px; }
	
	/* @group Paginas Genericas */
	
	.fullscreen{ min-height: inherit; display: block; width: auto; }
	.fullscreen.columns .section{ display: block; padding-left: 20px; padding-right: 20px; }
	.fullscreen.columns .section .overlay{ display: none; }
	.fullscreen.columns .section div.hidden{ height: auto; opacity: 1; overflow: inherit; }
	.fullscreen.columns .section div.hidden iframe{ max-width: 100%; height: 250px; }
	
	
	div.filtro{ text-align: center; }
	.carrusel-proyectos div.galeria{ height: 600px; }
	.carrusel-proyectos div.galeria div.proyecto{ height: 475px; }
	.carrusel-proyectos div.galeria div.proyecto div.info{
		height: auto !important;
		position: relative;
		left: auto;
		bottom: auto;
		right: auto;
	}
	.carrusel-proyectos div.galeria div.proyecto div.info > div{ margin: 2px 0; }
	
	/* @end */
	
	/* @group Somos */
	
	#pagina-somos #obras-historicas .slick-slider div.item div.contenido{
		display: block;
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 2;
		padding: 15px;
	}
	#pagina-somos #obras-historicas .slick-slider div.item div.contenido .titulo{ margin-bottom: 5px; }
	#pagina-somos #obras-historicas .slick-slider div.item div.contenido .titulo.green{ color: #fff; }
	#pagina-somos #obras-historicas .slick-slider div.item div.contenido .titulo.large{ font-size: 18px; }
	
	/* @end */
	
    #pagina-denuncia #texto-libre{  }
    
    #promociones .listado{ display: block; }
    #promociones .right{ border: 0; background: none; }
    #promociones .listado .item.large{ min-height: inherit; text-align: center; }
    #promociones .listado .item.large .logo{ height: 175px; }
    #promociones .listado .right .item{ margin-left: 0; margin-top: 25px; margin-bottom: 0; }
    
	
		
	/* @group Editor */
	
	div.texto{ font-size: 13px; }
	div.texto h1{ font-size: 22px; }
	div.texto h2{ font-size: 20px; }
	div.texto h3{ font-size: 18px; }
	div.texto h4{ font-size: 16px; }
	div.texto h5{ font-size: 14px; }
	div.texto h6{ font-size: 12px; }
	div.texto .ep-paso{ font-size: 30px; }
	
    /* @end */
	
}

/* Tablets */

@media screen and (min-width: 768px) and (max-width: 990px){
	
	/* @group Estilos Globales */
	
	body{ font-size: 13px; }
	.section{ padding-top: 40px; padding-bottom: 40px; }
	.grid-container{ padding-left: 30px; padding-right: 30px; }
	.np-tablet{ padding-left: 0; padding-right: 0; }
	.nofloat-tablet{ float: none !important; }
	
	input[type=text], input[type=password], input[type=email], input[type=tel], input[type=url], textarea{ }

	
	
	/* @end */
	
	#novedades-int #sidebar{ padding-left: 15px; }
	
	.fullscreen.columns .section div.hidden iframe{ max-width: 100%; height: 350px; }
	#pagina-inversionistas div.fondo{ padding: 0 20px 30px; }
	
	/* @group Editor*/
		
	div.texto blockquote{
		padding-left: 40px;
		background-size: 30px;
		margin: 0;
		font-size: 18px;
	}

    /* @end */
        
    /* @group Contructora v2 */
	
    #obras.ajax.carrusel-proyectos div.galeria div.proyecto{ }
    #obras.ajax.carrusel-proyectos div.lista,
    #obras.ajax.carrusel-proyectos div.galeria{ height: 475px; }
    #obras.ajax.carrusel-proyectos div.galeria div.proyecto div.info{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }
	
	/* @end */
	
}

/* SmartPhones and small tablets */

@media screen and (max-width: 767px){
	
	/* @group Estilos Globales */
	
	body{ font-size: 13px; }
	.section{ padding-top: 30px; padding-bottom: 30px; }
	.grid-container{ padding-left: 20px; padding-right: 20px; }
	.grid-large{ }
	.np-mobile{ padding-left: 0; padding-right: 0; }
	.nofloat-mobile{ float: none !important; }
	
	input[type=text], input[type=password], input[type=email], input[type=tel], input[type=url], textarea, select{
		padding: 7px 10px;
	}
	textarea{ height: 100px; }
	form .first{ padding-right: 0; }
	form .last{ padding-left: 0; }
	form.formulario .titulo{ margin-bottom: 20px; }
	form .g-recaptcha{
		width: 295px;
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: scale(0.97);
		transform: scale(0.97);
	}
	
	.slick-prev, .slick-next{ font-size: 20px !important; width: 30px !important; height: 40px !important; margin-top: -20px !important; }
	.circle-arrows .slick-arrow{
		width: 46px !important;
		height: 46px !important;

	}
	#proyectos-int .circle-arrows .slick-arrow{
		width: 25px !important;
		height: 25px !important;
		font-size: 13px !important;
		margin-top: -12px !important;

	}

	
	.titulo{ font-size: 14px; }
	.titulo.usmall{ font-size: 12px; }
	.titulo.small{ font-size: 13px; }
	.titulo.medium{ font-size: 16px; }
	.titulo.large{ font-size: 22px; }
	
	.button{ font-size: 12px; letter-spacing: 0px; padding: 10px 20px; }
	a.next-section{ font-size: 11px; display: block !important; padding: 10px; }
	a.next-section img{ width: 15px; height: auto; }

	
	/* @group Header */
	
	#menu{ width: 300px; right: -300px; }
	#menu div.menu-container{ padding: 20px 40px; }
	.menu-open #wrapper,
	.menu-open #menu {
		transform: translateX(-300px);
	}
	#menu ul.menu{ margin-top: 20px; padding-top: 20px; }
	#menu ul.menu li{ margin-bottom: 15px; }
	#menu ul#menu-principal > li{ margin-bottom: 15px; }
	#menu ul#menu-principal > li a{ font-size: 16px; }
	#menu .open ul.sub-menu{ padding-top: 15px; }
	#menu ul.sub-menu li a{ font-size: 14px !important; }

	/* @end */
	
	/* @group Inicio */
	
	#home #masterslider .ms-nav-next,
	#home #masterslider .ms-nav-prev{
		width: 25px;
		height: 25px;
		line-height: 25px;
		margin-top: -12px;	
	}
	#home #masterslider .ms-nav-prev{ left: 10px; }
	#home #masterslider .ms-nav-next{ right: 10px; }
	#home #masterslider div.ms-caption{ bottom: 110px !important; }
	#home #masterslider div.ms-caption div.estado{ font-size: 12px; }
	#home #somos{ height: auto !important; }
	#home #somos div.resumen{ padding: 30px; line-height: 1.6; font-size: 16px; }
	#home #somos div.resumen span.comilla{ font-size: 30px; }
	
	
	/* @end */
	
	/* @group Listado Proyectos */
	
	#proyectos .slick-slider{ margin: 0 20px; }
	
	
	/* @end */
	
	
	/* @group Novedades */
	
	#novedades .listado .right{ margin-left: 0; }
	#novedades .listado .item{ min-height: inherit !important; }
	#novedades .listado .item .excerpt{ padding: 15px 0 20px; }
	#novedades .listado .item .caption{ position: relative; left: auto; bottom: auto; margin: 0 0 0 20px; }
	
	#novedades-int #sidebar{ border: 0; padding: 0; margin-top: 20px; }
	
	
	/* @end */
	
	/* @group Paginas Genericas */
	
	main.page div.top .titulo.large{ margin-bottom: 15px; }
	main.page div.top div.middle{ overflow: hidden; }
	main.page div.top div.middle.aligntop{ top: auto; }
	main.page div.top div.fondo{ padding: 0 20px;}
	main.page div.top div.botones .button{ margin-left: 0; }
	
	.carrusel-proyectos h3{ margin-bottom: 20px; }
	.carrusel-proyectos div.galeria{ height: 330px; }
	.carrusel-proyectos div.galeria div.proyecto{ height: 180px; }
	.carrusel-proyectos div.galeria div.proyecto div.info{ font-size: 12px; padding: 15px 0; }
	.carrusel-proyectos div.galeria div.proyecto div.info .mobile-grid-30{}
	
	/* @end */
	
	/* @group Somos */
	
	#pagina-somos #revista{ text-align: center; }
	#pagina-somos #revista div.texto img.alignleft{ display: block; float: none !important; max-width: 175px; margin: 0 auto 10px; }
	#pagina-somos #novedades .listado .item{ min-height: inherit; }
	
	#pagina-somos #directores div.lista div.item{ max-width: 40%; font-size: 12px; margin: 0 10px 25px; }
	
	#pagina-somos #obras-historicas div.detalle, #pagina-somos #obras-historicas div.lista{ height: auto; }
	#pagina-somos #obras-historicas .slick-slider div.item{ height: auto; }	
	#pagina-somos #obras-historicas .slick-slider div.item div.img{
		position: relative;
		left: auto;
		top: auto;
		height: 250px;	
	}
	
	/* @end */
	
	/* @group Inversionistas */
	
	#pagina-inversionistas div.top p.titulo{ font-size: 13px; }
	#pagina-inversionistas #beneficios div.item{ padding: 20px 15px 0; }
	#pagina-inversionistas #invertir div.texto{ padding: 25px; }
	#pagina-inversionistas #cifras{ padding-bottom: 50px; }
	#pagina-inversionistas #cifras div.item{ padding: 0 0px 50px; }
	#pagina-inversionistas div.fondo{ padding: 0 20px 20px; }
	#pagina-inversionistas .formulario{ padding-bottom: 0; }
	#pagina-inversionistas div.cta{ margin-bottom: 20px; padding-right: 20px; }
	
	/* @end */
	
	/* @group Interior Proyectos */
	
	.lightbox-inline div.info{ margin-top: 0px; }
	.lightbox-inline ul{ padding: 15px 0; }
	
	
	#proyectos-int #slider .slick-prev{ left: 20px; }
	#proyectos-int #slider .slick-next{ right: 20px; }
	#proyectos-int #galeria div.item{ height: 100px; }
	#proyectos-int #slider div.item div.caption{ padding-left: 15px; padding-right: 15px; }
	
	
	#proyectos-int #plantas .lista-plantas{ padding: 20px; height: auto; }
	#proyectos-int #plantas .lista-plantas ul{ padding: 15px 0; }
	
	#proyectos-int #equipamiento div.slick-slider div.item{ height: 100px; }
	#proyectos-int #equipamiento div.texto{ padding: 30px 20px 10px; }
	#proyectos-int #obra div.right{ margin-top: 20px; border-width: 5px; }
	#proyectos-int #obra div.right iframe{ height: 250px; }
	#proyectos-int #ubicacion{ height: 300px; }
	#proyectos-int #consultas #formulario{ padding: 0; }
	#proyectos-int #consultas #sala-ventas{ margin-top: 20px; padding-left: 0; }
	
	/* @end */
	
	/* @group Footer */
	
	#novedades-int div.top{ height: 200px; }
	#novedades-int div.top div.middle{ padding-bottom: 40px; }
	#novedades-int div.top .titulo.large{ margin-bottom: 0; }
	#novedades-int article div.thumb{ max-width: 70%; margin: 20px  auto; }
	
	/* @end */
	
	/* @group Canal de denuncia */
	
	#pagina-denuncia div.fondo{ padding: 0 20px; }
	#pagina-denuncia #form .titulo{ padding-top: 0 !important; }
	
	/* @end */
	
	/* @group Pagina Constructora */
	
	#pagina-constructora #galeria h3.titulo{ margin-bottom: 0; }
	
	/* @end */
	
	/* @group Footer */
	
	#footer{ padding-top: 20px; }
	#footer .logo{ display: block; margin: 0 auto 20px; width: 130px; }
	#footer div.social{ border: 0; text-align: center; }
	
	/* @end */
	
	/* @group Editor */
	
	div.texto{ font-size: 12px; }
	div.texto p, div.texto h1, div.texto h2, div.texto h3, div.texto h4, div.texto h5, div.texto h6{ margin-bottom: 20px; }
	div.texto iframe{ height: 325px; }
	div.texto blockquote{
		padding-left: 40px;
		background-size: 30px;
		margin: 0;
		font-size: 13px;
	}
	
	div.texto .ep-shortcode.ep-columna.posicion-izq,
	div.texto .ep-shortcode.ep-columna.posicion-der{ padding: 0; }
	
    /* @end */
    
        
    /* @group Contructora v2 */
	
    #obras.ajax.carrusel-proyectos{ padding-bottom: 30px; }
    #obras.ajax.carrusel-proyectos div.lista{ height: auto; }
    #obras.ajax.carrusel-proyectos div.lista div.info{ padding: 15px 0; }
    #obras.ajax.carrusel-proyectos div.lista div.info .titulo{ margin: 0; }
    #obras.ajax.carrusel-proyectos div.galeria div.proyecto{
        position: relative;
        left: auto;
        top: auto;
    }
    #obras.ajax.carrusel-proyectos div.galeria{ height: auto; }

    #obras-ejecutadas.v2.carrusel-proyectos div.lista div.item{
        border-bottom: 2px solid #ddd;
    }
    #obras-ejecutadas.v2.carrusel-proyectos div.lista{ max-height: 360px; }
    /* #obras-ejecutadas.v2.carrusel-proyectos .mCSB_scrollTools{ display: none; } */
	
    /* @end */

     /* @group Promociones */
    
    .lightbox-promo div.texto{ padding: 20px 0 0; }
    .lightbox-promo div.img{ margin-bottom: 20px; }

    /* @end */
			
}
@media screen and (max-width: 360px){
	div.filtro select{ width: 120px; }
	form .g-recaptcha{
		width: 250px;
		-webkit-transform: scale(0.82);
		transform: scale(0.82);
	}
}
	