/*

Theme Name: Desco
Description: Template para Inmobiliaria Desco desarrollado por OQO
Version: 1.0
Author: OQO
Author URI: http://www.oqo.cl 
License: GNU General Public License
License URI: http://www.gnu.org/licenses/gpl.html

*/

@font-face {
	font-family: 'Gotham-Bold';
	src:url('fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/Gotham-Bold.otf') format('opentype'),
		url('fonts/Gotham-Bold.woff') format('woff'),
		url('fonts/Gotham-Bold.ttf') format('truetype'),
		url('fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}



/* @group Reset */
 
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video, button{ margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main{ display: block; }

body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

html, textarea{ overflow: auto; }
a{ text-decoration: none; outline: 0; }
input, textarea, button{ margin: 0; padding: 0; border: 0; outline: 0; }
a, input[type=button], input[type=submit], button, label{ cursor: pointer; }
h1, h2, h3, h4, h5, h6{ font-weight: normal; }
b, strong{ font-weight: bold !important; }
i, em{ font-style: italic !important; }
small {font-size: 75%;}
sub, sup { font-size: 50%; line-height: 0; position: relative; vertical-align: baseline; }
sup{ top: -0.6em; }
sub{ bottom: -0.25em; }
abbr, acronym{ border-bottom: 1px dotted; cursor: help; }
ins{ text-decoration :none; }
.clear{ clear: both; height: 0; }
 
/* @end */

/* @group Global Styles */

html, body{ height: 100%; }
body{ font: 15px 'Open Sans', sans-serif; color: #333; background: #f4f4f4; font-weight: 400; }
h1, h2, h3, h4, h5, h6, p, ul{ opacity: .99;  }
.alignleft{ float: left !important; }
.alignright{ float: right !important; }
.aligncenter{ display: block; margin: 0 auto; }
.alignmiddle{ vertical-align: middle; }
.textleft{ text-align: left !important; }
.textright{ text-align: right !important; }
.textcenter{ text-align: center !important; }
.uppercase{ text-transform: uppercase; }
hr{ border: 0; border-top: 1px solid #b3b3b3; height: 1px; }
.overflow{ overflow: hidden; position: relative; }
i.fa{ font-style: normal !important; }
a{
	color: #555;
	opacity: .99;
	-webkit-backface-visibility: hidden !important;
	backface-visibility: hidden !important;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
a:hover{ color: #64b22e; }
a img{
	-webkit-backface-visibility: hidden !important;
	backface-visibility: hidden !important;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;	
}
a.icon img{ margin-left: 5px; }
img{ max-width: 100%; height: auto; }

/* Contenidos */

.titulo{
	/*font-family: 'Gotham-Bold';*/
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 15px;
	opacity: .99;
	text-transform: uppercase;
	color: #1f4075;
}
.titulo.section{ margin-bottom: 0; }
.titulo.white{ color: #fff; }
.titulo.green{ color: #61ae31; }
.titulo.usmall{ font-size: 14px; }
.titulo.small{ font-size: 18px; }
.titulo.medium{ font-size: 24px; }
.titulo.large{ font-size: 44px; }
.bg-content{
	background: #fff !important;	
	color: #282e33 !important;
}

main{ }
body.home main{ padding-top: 0; }
#wrapper{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;	
}
#wrapper #overlay{
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 9999px;
	z-index: -1;
	background: #000;
	visibility: hidden;
	opacity: 0;	
}
.grid-container.grid-usmall {
	max-width: 800px;
}
.grid-container.grid-small {
	max-width: 980px;
}
.grid-container.grid-medium {
	max-width: 1250px;
}
.grid-container.grid-large {
	max-width: 1400px;
}
.section {
	padding-top: 100px;
	padding-bottom: 100px;
	position: relative;
	z-index: 2;
}
.fullwidth{ display: block; width: 100%; height: auto; }
.cover {
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	background-size: cover !important;
	background-position: center center !important;
}
.contain {
	-webkit-background-size: contain !important;
	-moz-background-size: contain !important;
	background-size: contain !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
	background: #ddd;
}
.parallax {
	position: relative;
	z-index: 1;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50% 0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}
a.full-link{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100;	
}
.fullimg{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;			
}
.has-video .fullimg,
.has-video .img{
	visibility: hidden;
	z-index: -100;	
}
div.video {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -100;
	overflow: hidden;
}
div.video > div {
	position: absolute;
	top: 0;
	z-index: -100;
}
div.video div.ytplayer-shield{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

ul.filtros{ padding-bottom: 20px; text-align: center; }
#proyectos ul.filtros,
#novedades ul.filtros{ margin: -60px auto 0; position: relative; z-index: 3000; max-width: 800px; }
ul.filtros li{
	display: inline;
	margin: 0 20px;	
}
ul.filtros li a{
	display: inline-block;
	padding-bottom: 10px;
	font: 11px 'Lato';
	font-weight: bold;
	color: #8d959c;	
	position: relative;
	letter-spacing: 1px;
}
ul.filtros li a:after{
	display: none;
	content: '';
	height: 2px;
	width: 80%;
	margin: 10px auto;
	background: #B3B3B3;	
}
ul.filtros li a.active,
ul.filtros li.current-cat a,
ul.filtros li a:hover{ color: #fff; }
ul.filtros li a.active:after,
ul.filtros li.current-cat a:after{
	display: block;
}

/* Botones */

.button {
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	opacity: .99;
	padding: 15px 25px;
	color: #fff;
	background: #1f4075;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	z-index: 1;
	letter-spacing: 3px;
	backface-visibility: hidden;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.button:hover{
	background: #61ae31;
	color: #fff;	
}
.button.icon{ padding-right: 50px !important; }
.button.icon i{ font-size: 150%; position: absolute; right: 15px; top: 50%; transform: translateY(-50%); }
.button.outline{ background: none; border: 1px solid; }
.button.outline:hover{ background: #fff; color: #1f4075; }
.button.outline.blue{ border-color: #1f4075; color: #1f4075; }
.button.outline.blue:hover{ background: #1f4075; color: #fff; }
.button.outline.green{ border-color: #63b02f; color: #63b02f; }
.button.outline.green:hover{ background: #63b02f; color: #fff; }
.button.outline.black{ border-color: #2e2e2e; color: #2e2e2e; }
.button.outline.black:hover{ background: #2e2e2e; color: #fff; }
.button.outline.white:hover{ background: #fff; color: #2e2e2e; border-color: #fff; }
a.next-section{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0px;
	z-index: 2;
	text-align: center;
	padding: 25px;
	font-size: 16px;
	color: #fff;
	-webkit-transition: all 400ms ease !important;
	-moz-transition: all 400ms ease !important;
	-ms-transition: all 400ms ease !important;
	-o-transition: all 400ms ease !important;
	transition: all 400ms ease !important;
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#66000000',GradientType=0 );
}
a.next-section img{
	width: 20px;
	display: block;
	margin: 10px auto;	
}
a.next-section:hover{
	
}
@keyframes MoveUpDown {
  0% {
    transform: translateY(-10px);
	opacity: 0;
  }
  100% {
    transform: translateY(0px);
	opacity: 1;
  }
}

/* Loader */

.c-loading {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	background: #282E33;
}

.c-loading img{
	display: block;
	width: 50px;
	height: 50px;
	position: absolute;
	left: 21px;
	top: 50%;
	margin-top: -25px;
	animation: loader-effect 800ms ease forwards;	
}
@keyframes loader-effect {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 1;
		left: -60px;
	}
}
.c-loading .c-wrapper{
	position: absolute;
	left: 50%;
	top: 50%;	
	width: 200px;
	height: 50px;
	text-align: center;
	margin: -25px 0 0 -75px;
}
.c-loading-progress {
 display: inline-block;
 position: relative;
  font-size: 30px;
  letter-spacing: 2px;
  color: #4C5156;
  height: 50px;
  line-height: 50px;
 
}
.c-loading-progress__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  -webkit-transition: width .6s ease;
  transition: width .6s ease;
}
.c-loading span.texto{
	display: block;
	width: 142px;
	height: 25px;
	margin-top: 13px;
	background: url(images/texto-simonetti-color.png) no-repeat;
	-webkit-background-size: 142px 25px;
	-moz-background-size: 142px 25px;
	background-size: 142px 25px;
}
.c-loading-progress__bar{

	height: 25px;
	margin-top: 13px;
	background: url(images/texto-simonetti.png) no-repeat;
	-webkit-background-size: 142px 25px;
	-moz-background-size: 142px 25px;
	background-size: 142px 25px;
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	white-space: nowrap;
}
#loader{
	opacity: 0;
	visibility: hidden;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10000;
	width: 100%;
	height: 100%;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
#loader.visible{
	opacity: 1;
	visibility: visible;	
}
#loader div.spinner{
    position: fixed;
    top: 2.5%;
    right: 1%;
    z-index: 11;
    animation: spin .3s linear infinite;
    width: 30px;
    height: 30px;
    background-image: url(images/spinner.png);
    background-size: cover;	
}
@keyframes spin{
    from{ transform:rotate(0deg); }
    to{ transform:rotate(360deg); }
}
#loader div.logo {
	position: absolute;
	left: 50%;
	top: 40%;
	width: 50px;
	height: 50px;
	z-index: 2;
	opacity: 0;
	visibility: hidden;
	margin-top: -25px;
	margin-left: -25px;
	-webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-ms-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 600ms ease;
}
#loader.visible div.logo{
	opacity: 1;
	visibility: visible;
	top: 50%;	
}
body.loaded #loader div.logo{
	top: 40%;
	opacity: 0;
	visibility: hidden;	
}
#loader div.bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #282e33;
	z-index: 1;
	-webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-ms-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 600ms ease;
}
body.loading #loader div.bg{
	animation: fromLeft2 .6s ease;	
}
@keyframes fromLeft2{
    from{ transform: translateX(-100%); }
    to{ transform: translateX(0%);  }
}
#loader.visible div.bg{
	
	opacity: 1;
}
body.loaded #loader div.bg{
	opacity: 0;
	animation: fromLeft .5s ease;
}
@keyframes fromLeft{
    from{ transform: translateX(0%); }
    to{ transform: translateX(100%);  }
}
body.loader-animated #loader{
	opacity: 0;
	visibility: hidden;
}

/*body.loader-animated #loader div.bg {
	opacity: 0;
	visibility: hidden;
}
body.loaded #loader div.logo {
	top: 50%;
	opacity: 0;
	visibility: hidden;
}
body.loader-animated #loader {
	visibility: hidden;
	z-index: -1;
}*/
body.loaded #loader {
/*	-webkit-opacity: 0;
	opacity: 0;
	visibility: hidden;
	z-index: -1;	*/
}

/* Efectos */

/* Efectos */

.bg-effect a:before,
.thumb-effect .thumb span.img,
.border-effect a:before,
.underline-effect a:before{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;	
}

.opacity-effect a:hover,
.opacity-effect a:hover img{ opacity: .8; }

.bg-effect a{ display: inline-block; position: relative; padding: 10px 15px; }
.bg-effect a:before{
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 50%;
	height: 100%;
	background: #969494;
	z-index: -1;
	opacity: 0;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.bg-effect a:hover, .bg-effect a.active{ color: #fff; }
.bg-effect a:hover:before,
.bg-effect a.active:before{
	left: 0%;
	opacity: 1;
	width: 100%;
	visibility: visible;	
}

.border-effect a,
.underline-effect a{ position: relative; z-index: 1; padding-bottom: 2px; }
.border-effect a:before,
.underline-effect a:before{
	content: '';
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	border-bottom: 1px solid;
	opacity: .5;
}
.border-effect a:before,
.underline-effect a:hover:before{
	width: 90%;
	left: 5%;
}
.border-effect a:before{
	opacity: 0;
	visibility: hidden;	
}
.border-effect a:hover:before{
	width: 100%;
	left: 0;
	opacity: 1;
	visibility: visible;	
}

.grayscale-effect a{ overflow: hidden; }
.grayscale-effect a:hover img{
	opacity: .75;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
		
}

.thumb-effect .thumb{
	display: block;
	overflow: hidden;
	background: #000;
}
.thumb-effect .thumb img,
.thumb-effect .thumb span.img{
	opacity: .85;
	
}
.thumb-effect .thumb:hover img,
.thumb-effect .thumb:hover span.img,
.thumb-effect a.bloque:hover img,
.thumb-effect a.bloque:hover span.img{
	opacity: 1;
	-moz-transform: scale(1.02);
	-webkit-transform: scale(1.02);
	-o-transform: scale(1.02);
	-ms-transform: scale(1.02);
	transform: scale(1.02);
}

.scale-effect{
	overflow: hidden;
	display: block;	
}
.scale-effect a img{
	display: block;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;		
}
.scale-effect a:hover img{
	-moz-transform: scale(1.02);
	-webkit-transform: scale(1.02);
	-o-transform: scale(1.02);
	-ms-transform: scale(1.02);
	transform: scale(1.02);
}

/* @end */

/* @group Header */

#header{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	width: 100%;	
}
#header #logo{ margin-top: 10px; float: left; }
#header div.abrir-menu{
	background: #1f4075;
	color: #fff;
	float: right;
	margin-top: 20px;
	padding: 10px;
	font-size: 12px;
	letter-spacing: 2px;
	cursor: pointer;
	position: absolute;
	right: 12.5%;
	top: 0;	
	margin-right: -100px;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;	
}
#header div.abrir-menu:hover{
	background: #61ae31;
}
#header div.abrir-menu i{ font-size: 14px; }

#menu{
	position: fixed;
	right: -480px;
	top: 0;
	width: 480px;
	height: 100%;
	z-index: 1000;
	background: #1f4075;
	color: #fff;
	text-align: right;
	max-height: 100%;
	overflow: auto;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;		 
}
#menu div.menu-container{ padding: 30px 50px; }
#menu .cerrar{
	background: #64b32e;
	color: #fff;
	letter-spacing: 2px;
	padding: 10px;
	line-height: 1;
	font-size: 11px;
}
#menu .cerrar:hover{
	color: #777;
	background: #fff;	
}
#menu ul.menu{
	border-top: 1px solid #45608c;
	margin-top: 30px;
	padding-top: 30px;
}
#menu ul.menu li{ margin-bottom: 12px; position: relative; z-index: 1; }
#menu ul.menu li a{ color: #fff; font-size: 14px; }
#menu ul.menu li a:hover,
#menu ul.menu li.current-menu-item > a{ color: #64b32e; }
#menu ul.menu li.menu-item-has-children{

}
#menu ul.menu li.menu-item-has-children:before{
	content: '\f10a';	
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Flaticon';
	position: absolute;
	right: -25px;
	top: 3px;
	font-size: 16px;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;		
}
#menu ul.menu li.menu-item-has-children.open:before{
	transform: rotate(-180deg);	
}

#menu ul#menu-principal > li{ margin-bottom: 20px; }
#menu ul#menu-principal > li > a{ font-size: 18px; text-transform: uppercase; }

#menu ul.sub-menu{
	
	visibility: hidden;
	opacity: 0;
	height: 0;
	overflow: hidden;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;		
}
#menu .open ul.sub-menu{
	padding-top: 20px;
	visibility: visible;
	opacity: 1;
	height: auto;	
}

/* Menu Principal Abierto */

.menu-open #menu{
	transform: translateX(-480px);	
}
.menu-open #wrapper{
	transform: translateX(-480px);	
}
.menu-open #wrapper #overlay{
	opacity: .45;
	visibility: visible;
	z-index: 9999;	
}

/* Menu Superior Interiores */

div.menu{
	width: 860px;
	background: #fff;
	position: fixed;
	left: 30px;
	top: 0;
	right: 0;
	z-index: 1000;
	margin: 0 auto;
	padding: 0 20px;
	font-size: 0;
}
div.menu ul li{ display: inline-block; position: relative; z-index: 1; height: 75px; vertical-align: top; font-size: 0; }
div.menu ul li.logo{ max-width: 140px; line-height: 75px; padding-right: 30px; }
div.menu ul li.logo:before,
div.menu ul li.nombre:before{
	content: '';
	position: absolute;
	right: 10px;
	top: 50%;
	height: 30px;
	width: 1px;
	background: #777;
	margin-top: -15px;	
}
div.menu ul li.logo img{ display: inline-block; vertical-align: middle; }
div.menu ul li.nombre{
	line-height: 75px;
	padding-right: 30px;
	font-size: 18px;
}
div.menu ul li a{
	display: block;
	height: 15px;
	padding: 30px 15px;
	font-size: 15px;
	line-height: 15px;
}
div.menu ul li a.active{
	/*background: #2da3e9;*/
	color: #333;
	font-weight: 600;
}

/* @end */

/* @group Inicio */

#home #masterslider .ms-nav-next,
#home #masterslider .ms-nav-prev{
	background: none;
	border: 2px solid #fff;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	margin-top: -25px;	
	color: #fff;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;	
}
#home #masterslider .ms-nav-next:hover,
#home #masterslider .ms-nav-prev:hover{
	background: #fff;
	color: #333;	
}
#home #masterslider .ms-nav-next:before,
#home #masterslider .ms-nav-prev:before{
	content: '\f106';
	line-height:1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Flaticon';
	font-weight: normal !important;
	font-style: normal !important;
	opacity: .99;
}
#home #masterslider .ms-nav-next:before{ content: '\f108'; }
#home #masterslider div.ms-caption{
	position: absolute;
	left: 15% !important;
	bottom: 40% !important;
	z-index: 100;
	color: #fff;
	font-size: 16px;
	font-weight: 100;
	letter-spacing: 1px;
	width: 75%;
	max-width: 750px;
	text-shadow: 0px 1px 5px rgba(0,0,0,0.5);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#home #masterslider div.ms-caption .titulo{ color: #fff; }
#home #masterslider div.ms-caption p{ }
#home #masterslider div.ms-caption div.estado{
	background: #1f4075;
	color: #fff;
	display: inline-block;
	padding: 5px 15px;
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 5px;	
}
#home #masterslider div.ms-slide { overflow: hidden; }


/* Somos */

#home #somos{ text-align: center; }
#home #somos h2{ text-align: left; }
#home #somos div.resumen{
	position: relative;
	z-index: 1;
	padding: 60px 130px 40px;
	text-transform: none;
	line-height: 1.6;
	color: #fff;
	font-size: 24px;
}
#home #somos div.resumen span.comilla{
	font-size: 150px;
	color: #63b02f;
	position: absolute;
	left: 0;
	top: 55%;
	transform: translateY(-50%);
	line-height: 1px;
}
#home #somos div.resumen span.comilla.right{
	left: auto;
	right: 0;
	top: 30%;
}

/* @end */

/* @group Listado Proyectos */

#proyectos h3.titulo{ margin-bottom: 0; }
#proyectos div.item{
	border-top: 10px solid #62b030;
	margin: 0 1px;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
#proyectos div.item div.info{
	background: #dae1e7;
	text-align: center;
	padding: 15px;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;	
}
#proyectos div.item div.info .logo{
	height: 54px;
	vertical-align: middle;
	margin-bottom: 15px;
}
#proyectos div.item:hover div.info{ background: #fff; }
#proyectos div.item div.info p img{ display: block; margin: 0 auto 15px; }
#proyectos div.item div.info p.ciudad{ margin-bottom: 0; font-size: 13px; }
#proyectos div.item div.img{
	background: #000;
	
}
#proyectos div.item div.img img{
	opacity: .75;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;	
}
#proyectos div.item:hover div.img img{ opacity: 1; }

/* @end */

/* @group Interior Proyectos */

/* Slider */

#proyectos-int #slider{ height: 100vh; position: relative; z-index: 1; }
#proyectos-int #slider div{ height: 100%; }
#proyectos-int #slider div.item{ position: relative; z-index: 1; }
#proyectos-int #slider div.item div.caption{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 40%;
	z-index: 100;
	text-align: center;
	height: auto;
	transform: translateY(50%);
	opacity: 0;
	-webkit-transition: all 1200ms ease;
	-moz-transition: all 1200ms ease;
	-ms-transition: all 1200ms ease;
	-o-transition: all 1200ms ease;
	transition: all 1200ms ease;	
}
#proyectos-int #slider div.item.slick-current div.caption{
	opacity: 1;
	bottom: 50%;
}
#proyectos-int #slider .slick-prev{ left: 50px; }
#proyectos-int #slider .slick-next{ right: 50px; }

/* Descripcion */

.fullscreen{ min-height: 700px; display: table; width: 100%; position: relative; z-index: 1; }
.fullscreen.bg-black{
	background: #000;
}
.fullscreen .middle{
	display: table-cell;
	vertical-align: middle;	
}
.fullscreen.columns{ color: #fff; }
.fullscreen.columns .titulo{ margin-bottom: 25px; }
.fullscreen.columns div.texto{ line-height: 2; }
.fullscreen.columns > .fullimg{ opacity: .65; }
.fullscreen.columns .section{
	float: none;
	padding-left: 100px;
	padding-right: 100px;

	position: relative;
	z-index: 1;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.fullscreen.columns .section .overlay{
	background: #000;
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.fullscreen.columns .section.active .overlay{
	opacity: .45;
}
.fullscreen.columns .section div.hidden{
	height: 0;
	overflow: hidden;
	opacity: 0;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;	
}
.fullscreen.columns .section.active div.hidden{ opacity: 1; height: auto; }

/* Galeria */

#proyectos-int #galeria .slick-slider{ max-width: 510px; margin: 0 auto; padding: 0 30px; }
#proyectos-int #galeria .slick-slider .slick-prev,
#proyectos-int #galeria .slick-slider .slick-next{ font-size: 20px; }
#proyectos-int #galeria .slick-slider .slick-prev{ left: -15px; }
#proyectos-int #galeria .slick-slider .slick-next{ right: -15px; }
#proyectos-int #galeria .slick-slide{ margin: 2px; }
#proyectos-int #galeria div.item{ height: 160px;}
#proyectos-int .ep-gallery div.item{
	overflow: hidden; position: relative; z-index: 1; background: #000; 
}
#proyectos-int .ep-gallery div.item div.fullimg{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
#proyectos-int .ep-gallery div.item:hover div.fullimg{
	opacity: .75;	
}
#proyectos-int .ep-gallery span.zoom{
	display: block;
	color: #fff;
	width: 40px;
	height: 40px;
	border: 1px solid #fff;
	text-align: center;
	line-height: 40px;
	font-size: 22px;
	border-radius: 50%;	
	position: absolute;
	left: 50%;
	top: 45%;
	margin: -20px 0 0 -20px;
	opacity: 0;
	visibility: visible;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;		
}
#proyectos-int .ep-gallery div.item:hover span.zoom{ top: 50%; opacity: 1; visibility: visible; }

/* Plantas */

div.filtro{ float: right; text-align: right; margin-bottom: 10px; }
div.filtro select{
	width: 150px;
	vertical-align: middle;
	margin-left: 10px;
}
#proyectos-int #plantas .vertical{ }
#proyectos-int #plantas .vertical div.item{
	display: table;
	background: #9c9aa1;
	color: #fff;
	text-align: center;
	overflow: hidden;
	cursor: pointer;
	margin-bottom: 1px;
	
	vertical-align: middle;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;			
}
#proyectos-int #plantas .vertical div.item .middle{
	height: 100px;
	display: table-cell;
	vertical-align: middle;	
	padding: 20px 20px;
}
#proyectos-int #plantas .vertical div.item.slick-current{
	background: #1f4075;	
}
#proyectos-int #plantas .vertical div.item.slick-current .titulo{ color: #62b030; }
#proyectos-int #plantas .vertical div.item .titulo{ color: #fff; margin-bottom: 5px; }
#proyectos-int #plantas .lista-plantas{ background: #fff; padding: 30px 50px; height: 571px; overflow: hidden; }
#proyectos-int #plantas .lista-plantas .titulo.large{ font-size: 36px; }
#proyectos-int #plantas .lista-plantas h4,
#proyectos-int #plantas .lista-plantas h5{ margin-bottom: 5px; }
#proyectos-int #plantas .lista-plantas ul{ padding: 30px 0; }
#proyectos-int #plantas .lista-plantas ul li{ margin-bottom: 15px; }
#proyectos-int #plantas .lista-plantas ul li span{ display: inline-block; }
#proyectos-int #plantas .lista-plantas ul li span.left{ width: 70%; }
#proyectos-int #plantas .lista-plantas ul li span.right{ width: 28%; text-align: right; }
#proyectos-int #plantas .lista-plantas ul li.total{ color: #1f4075; font-weight: bold; }
#proyectos-int #plantas .lista-plantas div.img a{ display: block; position: relative; z-index: 1; }
#proyectos-int #plantas .lista-plantas div.img a span.zoom{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	padding: 0;	
	margin: -25px 0 0 -25px;
	font-size: 20px;
}


.lightbox-inline{
	color: #fff;
	max-width: 980px;
	position: relative;
	z-index: 2;
	margin: 0 auto;
}
.lightbox-inline:before{
	background: #1f4075;
	content: '';
	position: fixed;
	left: -5000px;
	top: -5000px;
	width: 9999px;
	height: 9999px;
	z-index: -1;	
}
.lightbox-inline .grid-container.small{ max-width: 650px; }
.lightbox-inline div.info{ margin-top: 40px; }
.lightbox-inline .titulo{ margin-bottom: 3px; }
.lightbox-inline ul{ padding: 30px 0; max-width: 240px; }
.lightbox-inline ul li{ margin-bottom: 15px; }
.lightbox-inline ul li span{ display: inline-block; }
.lightbox-inline ul li span.left{ width: 70%; }
.lightbox-inline ul li span.right{ width: 28%; text-align: right; }
.lightbox-inline ul li.total{ font-weight: bold; }


/* Equipamiento */

#proyectos-int #equipamiento{ overflow: hidden; position: relative; z-index: 1; }
#proyectos-int #equipamiento div.texto{
	background: #fff;
	padding: 60px 60px 40px;
	max-width: 340px;	
}
#proyectos-int #equipamiento div.slick-slider{ overflow: hidden; }
#proyectos-int #equipamiento div.slick-slider div.item{
	height: 175px;
	position: relative;
	z-index: 1;
	background: #000;
	margin: 0;
}
#proyectos-int #equipamiento div.slick-slider .slick-prev{ left: 20px; }
#proyectos-int #equipamiento div.slick-slider .slick-next{ right: 20px; }

/* Obra en Vivo */

#proyectos-int #obra{ color: #fff; overflow: hidden; }
#proyectos-int #obra div.left{ padding-right: 30px; }
#proyectos-int #obra div.texto{ position: relative; z-index: 1; padding: 40px 0 20px; line-height: 2; }
#proyectos-int #obra div.texto:before{
	content: '';
	position: absolute;
	left: -2000px;
	top: 0;
	background: #1f4075;
	height: 100%;
	width: 9999px;
	z-index: -1;	
}
#proyectos-int #obra div.right{ position: relative; z-index: 2; border: 10px solid #fff; background: #1F4075; }
#proyectos-int #obra div.right iframe{ display: block; }

/* Ubicacion */

#proyectos-int #ubicacion{ position: relative; z-index: 1; }
/*#proyectos-int #ubicacion .titulo{
	position: absolute;
	left: 0;
	top: 60px;
	text-align: center;
	width: 100%;
	color: #282f33;
	z-index: 3;	
}*/
#proyectos-int #ubicacion #map_canvas{ height: 100%; width: 100%; position: absolute; left: 0; top: 0; }
#proyectos-int #ubicacion #map_canvas div.infowindow{ font-size: 16px; }
#proyectos-int #ubicacion div.info{
	position: absolute;
	left: 25px;
	top: 75px;
	z-index: 3;
	background: #1f4075;
	padding: 30px;
	text-align: center;
	max-width: 300px;	
}
#proyectos-int #ubicacion div.info a.cerrar{
	position: absolute;
	right: 10px;
	top: 10px;
	color: #62b030;
	z-index: 2;	
}
#proyectos-int #ubicacion div.info p{ margin-bottom: 10px; }
#proyectos-int #ubicacion div.info p:last-child{ margin-bottom: 0; }
#proyectos-int #ubicacion div.info a.button{ padding: 7px 20px; }
#proyectos-int #ubicacion div.info a.button img{ top: -3px; position: relative; }

/* Consultas y Sala venta */

#proyectos-int #consultas #formulario{ padding-right: 30px; padding-top: 30px; }
#proyectos-int #consultas #sala-ventas{ padding-left: 30px; margin-top: 70px;  }
#proyectos-int #consultas #sala-ventas div.box{
	background: #1f4075;
	color: #fff;
	padding: 40px 25px 20px;
	line-height: 1.4;
}
#proyectos-int #sala-ventas div.box a{ color: #fff; }
#proyectos-int #sala-ventas div.box div.item{ padding-bottom: 20px; }

/* @end */

/* @group Páginas Genericas */

#master-loader{

}
#master-loader,
#master-loader:after {
	-webkit-border-radius: 50%;
	border-radius: 50%;
	width: 40px;
	height: 40px;
}
#master-loader {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -20px 0 0 -20px;
	z-index: 9999;
	border-top: 6px solid rgba(255, 255, 255, 0);
	border-right: 6px solid #61ae31;
	border-bottom: 6px solid #61ae31;
	border-left: 6px solid #61ae31;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 800ms infinite linear;
	animation: load8 800ms infinite linear;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;	
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
#master-loader.loaded{ opacity: 0; visibility: hidden; z-index: -10;  }

main.page div.top{
	display: table;
	position: relative;
	z-index: 2;
	width: 100%;
	height: 100vh;
}
main.page div.top div.middle{
	display: table-cell;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	padding: 95px 0;
}
main.page div.top div.middle.aligntop{ top: -15%; }
main.page div.top .etiqueta{
	background: #2da3e9;
	color: #fff;
	display: inline-block;
	padding: 5px 15px;
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 5px;		
}
main.page div.top .titulo.large{ margin-bottom: 30px; }
main.page div.top div.botones{ padding-top: 20px; text-align: center; }
main.page div.top div.botones .button{ margin: 0 15px 10px; }
main.page div.top div.fondo{
	background: #fff;
	background: rgba(255,255,255,0.6);	
}

/* @end */

/* @group Carrusel Global para Proyectos historicos o ejecutados */

.carrusel-proyectos h3{ margin-bottom: 35px; }
.carrusel-proyectos .categorias{
	text-align: center;
	margin-bottom: 20px;
}
.carrusel-proyectos .categorias li{ display: inline; margin: 0 5px 10px; }
.carrusel-proyectos .categorias li a{ font-size: 11px; }
.carrusel-proyectos .categorias li a.current{ color: #64b22e; }
.carrusel-proyectos div.lista{
	height: 600px;
	overflow: auto;
}
.carrusel-proyectos div.lista div.item{
	position: relative;
	z-index: 1;
	cursor: pointer;
	background: #fff;
}
.carrusel-proyectos div.lista div.item div.info div.borde{
	position: absolute;
	left: 20px;
	right: 20px;
	top: 0;
	border-top: 1px solid #ccc;	
}
.carrusel-proyectos div.lista div.item:first-child div.info div.borde{ display: none; }
.carrusel-proyectos div.lista div.item div.info{
	padding: 20px 30px;
	font-size: 14px;
	position: relative;
	z-index: 1;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;	
}
.carrusel-proyectos div.lista div.item div.info .titulo{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;		
}
.carrusel-proyectos div.lista div.item div.info div.flecha{
	position: absolute;
	right: -13px;
	top: 50%;
	margin-top: -13px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 12.5px 0 12.5px 13px;
	border-color: transparent transparent transparent #64b32e;
	opacity: 0;
	visibility: hidden;
}
.carrusel-proyectos div.lista div.item.active div.info{
	background: #64b32e;
	color: #fff;	
}
.carrusel-proyectos div.lista div.item.active div.info .titulo{
	color: #fff;	
}
.carrusel-proyectos div.lista div.item.active div.info div.flecha{
	opacity: 1;
	visibility: visible;
}
.carrusel-proyectos div.lista div.item:first-child div.info:before{ display: none; }
.carrusel-proyectos div.lista div.item div.img{
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	height: 100%;

}
.carrusel-proyectos div.lista div.item div.img div.overlay{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #1f4075;
	opacity: .6;
	visibility: visible;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;	
}
.carrusel-proyectos div.lista div.item.active div.img div.overlay{
	opacity: 0;
	visibility: hidden;	
}

.carrusel-proyectos div.galeria{
	position: relative;
	z-index: 2;
	height: 600px;	
}
.carrusel-proyectos div.galeria div.proyecto{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -100;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;	
}
.carrusel-proyectos div.galeria div.proyecto.active{
	opacity: 1;
	visibility: visible;
	z-index: 1;	
}
.carrusel-proyectos div.galeria div.proyecto div{ height: 100%; }
.carrusel-proyectos div.galeria.alta div.proyecto div.info{ height: 90px; }
.carrusel-proyectos div.galeria div.proyecto div.info{
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 20px 5px;
	height: 50px;
	color: #fff;
	background: rgba(0,15,38,0.75);
}
.carrusel-proyectos div.galeria div.proyecto div.info h5{
	color: #64b32e;
	font-weight: bold;
	margin-bottom: 5px;	
}
/*.carrusel-proyectos div.galeria div.proyecto div.info > div{ display: inline-block; float: none; width: auto; }*/

/* @end */

/* @group Pagina Constructora */

#pagina-constructora #galeria div.lista div.item{ margin-top: 40px; }
#pagina-constructora #galeria  div.lista div.item a{
	position: relative;
	z-index: 1;
	display: block;
	height: 300px;
	margin-bottom: 20px;
}
#pagina-constructora #galeria  div.lista div.item a div.img{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;			
}
#pagina-constructora #galeria  div.lista div.item a:hover div.img{
	opacity: 0.75;
}
#pagina-constructora #galeria  div.lista div.item a span.zoom{
	display: block;
	color: #fff;
	width: 40px;
	height: 40px;
	border: 1px solid #fff;
	text-align: center;
	line-height: 40px;
	font-size: 18px;
	border-radius: 50%;	
	position: absolute;
	left: 50%;
	top: 45%;
	margin: -20px 0 0 -20px;
	opacity: 0;
	visibility: visible;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;		
}
#pagina-constructora #galeria  div.lista div.item a span.zoom i.fa-play{ margin-left: 3px; }
#pagina-constructora #galeria  div.lista div.item a:hover span.zoom{ top: 50%; opacity: 1; visibility: visible; }

/* @end */

/* @group Pagina Somos */

#pagina-somos #directores div.lista div.item{
	margin: 0 15px 50px;
	display: inline-block;
	text-align: center;
	font-size: 14px;
	max-width: 190px;
	vertical-align: top;
}
#pagina-somos #directores div.lista div.item .titulo{ max-width: 160px; margin: 10px auto 5px; }

#pagina-somos #obras-historicas div.detalle{
	background: #1f4075;
	height: 650px;
	display: table;
	padding: 50px;	
}
#pagina-somos #obras-historicas div.detalle div.middle{
	display: table-cell;
	vertical-align: middle;	
}
#pagina-somos #obras-historicas div.detalle div.contador{ display: inline-block; padding-bottom: 10px; border-bottom: 1px solid #fff; }
#pagina-somos #obras-historicas div.detalle.animate div.middle{
	animation: fade-in 600ms ease;
}
@keyframes fade-in {
  0%   { opacity: 0; transform: translateX(30px); }
  100% { opacity: 1; transform: translateX(0px); }
}
#pagina-somos #obras-historicas div.lista{ height: 650px; overflow: hidden; }
#pagina-somos #obras-historicas .slick-slider{ }
#pagina-somos #obras-historicas .slick-slider div{}
#pagina-somos #obras-historicas .slick-slider div.item{
	position: relative;
	z-index: 1;
	height: 550px;
}
#pagina-somos #obras-historicas .slick-slider div.item div.contenido{ display: none; }
#pagina-somos #obras-historicas .slick-slider div.item div.img{
	-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
	-webkit-transition: all 1200ms ease;
	-moz-transition: all 1200ms ease;
	-ms-transition: all 1200ms ease;
	-o-transition: all 1200ms ease;
	transition: all 1200ms ease;		
}
#pagina-somos #obras-historicas .slick-slider div.item.slick-current div.img{
	-webkit-filter: grayscale(0%);
    filter: grayscale(0%);	
}
#pagina-somos #obras-historicas .slick-slider .slick-slide{ border: 0; }

/* Desco en los Medios */

#pagina-somos #novedades .left-content{ padding-left: 0; }
#pagina-somos #novedades .listado .item{
	margin-bottom: 30px;
	min-height: 280px;
}
#pagina-somos #novedades .listado .item.large{ min-height: inherit; }
#pagina-somos #novedades .listado .item div.thumb{ border: 1px solid #ddd; }
#pagina-somos #novedades .listado .item div.thumb div.overflow{ max-height: 250px; overflow: hidden; }
#pagina-somos #novedades .listado .item div.thumb img{ display: block; width: 100%; }
#pagina-somos #novedades .listado .count-2{ padding-left: 0; }
#pagina-somos #novedades .listado .count-3{ padding-right: 0; }
#pagina-somos #novedades .listado .count-2 .item{ background: #1f4075 !important; }
#pagina-somos #novedades .listado .item div.meta{ margin-bottom: 15px; }
#pagina-somos #novedades .listado .item a.descargar{
	display: block;
	color: #fff;
	margin-top: 3px;
}
#pagina-somos #novedades .listado .item a.descargar:hover{ transform: translateY(-2px); }
#pagina-somos #novedades .listado .item a.descargar i{ font-size: 30px; vertical-align: middle; margin-left: 5px; position: relative; top: -3px; }
#pagina-somos #novedades .listado .item.large a.descargar{ color: #333; }
#pagina-somos #novedades .listado .item a.descargar.azul{
	background: #1f4075;
	color: #fff;
	display: block;
	text-align: center;
	padding: 5px 10px;
	margin-top: 0;
}
#pagina-somos #novedades .listado .item a.descargar.azul:hover{
	transform: none;
	background: #64b22e;
}

/* @end */

/* @group Pagina Contacto */

#pagina-contacto .formulario,
#pagina-denuncia .formulario{
	max-width: 470px;
	margin: 0 auto;	
	padding: 30px 0;
}
#pagina-contacto .formulario p{ color: #1f4075; }
#pagina-denuncia div.fondo{ background: #fff; }

/* @end */

/* @group Listado de Novedades */

#novedades .left{ padding-left: 0; }
#novedades .right{ padding: 0; }
#novedades .listado .item{
	background: #fff;
	padding: 25px;
	min-height: 260px;
	position: relative;
	z-index: 1;
	margin-bottom: 20px;
}
#novedades .listado .item.small{
	min-height: 145px;	
}
#novedades .listado .item.large{
	padding: 50px;
	min-height: 540px;
	margin: 0;
}
#novedades .listado .item.no-image{ background: #64b22e !important; }
#novedades .listado .item.no-image div.overlay{ display: none; }
#novedades .listado .item.white{ color: #fff; }
#novedades .listado .item.white .titulo a{ color: #fff; }
#novedades .listado .item.white .titulo a:hover{ color: #fff; }
#novedades .listado .item.large .titulo{ margin: 0; }
#novedades .listado .item .titulo a{ color: #2e2e2e; }
#novedades .listado .item .titulo:hover a{ color: #888; }
#novedades .listado .item .excerpt{ padding: 30px 0 35px; line-height: 1.6; }
#novedades .listado .item .caption{
	position: absolute;
	left: 25px;
	right: 25px;
	bottom: 20px;
	z-index: 3;	
}
#novedades .listado .item div.overlay{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;	
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.2;
}

/* @end */

/* @group Interior Novedades */

#novedades-int div.top{
	position: relative;
	text-align: center;
	height: 300px;
	background: url(images/bg-noticias-int.jpg) no-repeat center center;	
}
#novedades-int article header .titulo{ margin-bottom: 10px; }
#novedades-int article div.thumb{ margin: 30px 0; }
#novedades-int article div.compartir{
	border-top: 1px solid #ebebeb;
	padding-top: 15px;
	margin-top: 30px;
	text-align: right;
	font-size: 18px;
}
#novedades-int article div.compartir ul li{ display: inline-block; margin-left: 15px; }
#novedades-int article div.compartir ul li a{ display: block; position: relative; z-index: 1; }
#novedades-int article div.compartir ul li a:hover{ transform: translateY(-2px); }
#novedades-int article div.compartir ul li a.facebook{ color: #385591; }
#novedades-int article div.compartir ul li a.twitter{ color: #51a5e4; }
#novedades-int article div.compartir ul li a.google-plus{ color: #d34b3e; }
#novedades-int #sidebar{
	border-left: 1px solid #ebebeb;
	margin-top: 5px;
	padding-left: 25px;
}

/* @end */

/* @group Sidebar */

#sidebar .ult-noticias .item{ margin-bottom: 20px; }
#sidebar .ult-noticias .item .info{ padding-right: 0; }
#sidebar .widget{ margin-bottom: 30px; }
#sidebar .widget.archive .toggle .desplegar{
	margin-bottom: 20px;
	position: relative;
	z-index: 1;
	padding-right: 20px;
	cursor: pointer;
}
#sidebar .widget.archive .toggle .desplegar i{
	position: absolute;
	right: 0;
	top: 50%;
	z-index: 2;
	color: #555;
	font-size: 18px;
	margin-top: -9px;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;	
}
#sidebar .widget.archive .toggle.active .desplegar i{
	transform: rotate(-180deg);
}
#sidebar .widget.archive .toggle{}
#sidebar .widget.archive .toggle .toggle-content{
	background: #fff;
	padding: 20px 20px 0;
	margin-bottom: 20px;
	display: none;	

}
#sidebar .widget.archive .toggle.first .toggle-content{ display: block; }
#sidebar .widget.archive .toggle .toggle-content .item{ padding-bottom: 20px; }
#sidebar .widget.archive .toggle .toggle-content .item time{ display: block; color: #64b22e; font-size: 12px; margin-bottom: 5px; }
#sidebar .widget.archive .toggle .toggle-content .item a:hover{ color: #1f4075; }

/* @end */

/* @group Pagina Inversionistas */

#pagina-inversionistas #beneficios div.item{ line-height: 1.7; padding: 40px 30px 0; }
#pagina-inversionistas #beneficios div.item .icono{ height: 55px; width: auto; max-width: 100%; margin-bottom: 15px; }
#pagina-inversionistas #invertir div.texto{
	background: #1f4075;
	color: #fff;
	padding: 50px;	
}
#pagina-inversionistas #invertir div.texto *{ color: #fff; }

#pagina-inversionistas #cifras .titulo{ margin-bottom: 30px; }
#pagina-inversionistas #cifras div.item{
	color: #1f4075;
	padding: 0 35px 70px;
}
#pagina-inversionistas #cifras div.item img{ display: block; margin-bottom: 20px; }
#pagina-inversionistas #cifras div.item span{ font-size: 26px; font-weight: bold; color: #69b435; }
#pagina-inversionistas #cifras .slick-arrow{
	top: 100%;
	border-color: #1f4075;
	color: #1f4075;
	text-shadow: none;
}
#pagina-inversionistas #cifras .slick-arrow:before{ color: #1f4075; }
#pagina-inversionistas #cifras .slick-arrow.slick-disabled{
	opacity: 1;
	visibility: visible;
	border-color: #b7b7b7;
	cursor: default;
}
#pagina-inversionistas #cifras .slick-arrow.slick-disabled:before{ color: #b7b7b7; }
#pagina-inversionistas #cifras .slick-prev{ left: 50%; margin-left: -61px; }
#pagina-inversionistas #cifras .slick-next{ right: 50%; margin-right: -61px; }

#pagina-inversionistas #faq{ color: #fff; }
#pagina-inversionistas #faq div.lista{ margin-top: 30px; }
#pagina-inversionistas #faq div.item .desplegar{}
#pagina-inversionistas #faq .toggle .desplegar{
	margin-bottom: 20px;
	position: relative;
	z-index: 1;
	padding-right: 20px;
	cursor: pointer;
	color: #64b32e;
	text-transform: uppercase;
	font-weight: bold;
}
#pagina-inversionistas #faq .toggle .desplegar i{
	position: absolute;
	right: 0;
	top: 50%;
	z-index: 2;
	font-size: 18px;
	margin-top: -9px;
	color: #fff;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;	
}
#pagina-inversionistas #faq .toggle.active .desplegar i{
	transform: rotate(-180deg);
}
#pagina-inversionistas #faq .toggle{}
#pagina-inversionistas #faq .toggle .toggle-content{
	margin-bottom: 20px;
	display: none;
	max-height: 250px;
	padding-right: 20px;
}
#pagina-inversionistas #faq .toggle.first .toggle-content{ display: block; }
#pagina-inversionistas #faq .toggle .toggle-content .item{ padding-bottom: 20px; }
#pagina-inversionistas #faq .toggle .toggle-content .item time{ display: block; color: #64b22e; font-size: 12px; margin-bottom: 5px; }
#pagina-inversionistas #faq .toggle .toggle-content .item a:hover{ color: #1f4075; }

#pagina-inversionistas .formulario{
	max-width: 470px;
	margin: 0 auto;	
	padding: 30px 0;
}
#pagina-inversionistas div.fondo{ background: #fff; padding: 0 50px 50px; }
#pagina-inversionistas div.cta{
	background: #64b22e;
	color: #fff;
	padding: 20px;
	padding-right: 120px;
	min-height: 100px;
	font-weight: 300;	
}
#pagina-inversionistas div.cta a{ color: #fff; }
#pagina-inversionistas div.cta.llamar{ background: #64b22e url(images/bg-llamar.png) no-repeat right top; }
#pagina-inversionistas div.cta.ubicacion{ background: #64b22e url(images/bg-ubicacion.png) no-repeat right top; }

/* @end */

/* @group 404 */

.page-404{ padding-top: 70px; background: url(images/ejemplos/bg-contacto.jpg) no-repeat center center; }
.page-404 .botones{ padding-top: 10px; }

/* @end */

/* @group Footer */

#footer{ font-size: 14px; padding-top: 90px; overflow: hidden; }
#footer .widget{ margin-bottom: 30px; }
#footer .widget h5{ font-family: 'Gotham-Bold'; color: #1f4075; text-transform: uppercase; margin-bottom: 15px; }
#footer .widget ul li{
	margin-bottom: 7px;	
}
#footer .widget ul li a{	
	font-size: 14px;
	opacity: .99;
}
#footer div.volver,
#footer div.direccion{
	padding: 20px;
	position: relative;
	z-index: 2;
	font-size: 13px;
}
#footer div.volver{
	
	color: #fff;
	text-align: right;
}
#footer div.volver div.fondo{
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 9999px;
	height: 500px;
	z-index: -1;
	background: #64b22e;	
}
#footer div.volver a{ color: #fff; }
#footer div.volver a span{
	display: inline-block;
	width: 42px;
	height: 42px;
	text-align: center;
	line-height: 42px;
	border: 3px solid #fff;
	vertical-align: middle;
	margin-left: 10px;
	-webkit-border-radius: 50%;
	border-radius: 50%;	
}

#footer div.direccion{ line-height: 1.4; }
#footer div.direccion div.fondo{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 9999px;
	height: 500px;
	z-index: -1;
	background: #fff;	
}
#footer div.social{
	border-left: 1px solid #ccc;
	padding: 10px 15px;
	padding-right: 0;	
}
#footer div.social a{
	display: inline-block;
	color: #fff;
	width: 33px;
	height: 33px;
	text-align: center;
	line-height: 33px;
	background: #ccc;
	font-size: 20px;
	margin-left: 5px;
	-webkit-border-radius: 50%;
	border-radius: 50%;	
}
#footer div.social a:hover{ transform: scale(1.05);}
#footer div.social a.facebook{ background: #486aac; }
#footer div.social a.twitter{ background: #43d5fd; }
#footer div.social a.youtube{ background: #d4101d; }
#footer div.social a.instagram{ background: #cc3a78; }
#footer a.oqo{ display: block; float: right; font-size: 12px; }

/* @end */

