/* CSS Document */

.redux-container{  }
#redux-header .display_header{ float: none !important; text-align: right; background: url(images/logo-oqo.png) no-repeat left center; padding-left: 200px; height: 50px; margin: 10px 20px; }

#redux-header{
    background: #3F3F3F !important;
}

#redux-intro-text{ display: none; }
.redux-sidebar .redux-group-menu li a{ opacity: 1; }
.redux-container .notice-yellow{ color: #B48941; }

.redux-container-image_select .redux-image-select label span{ font-size: 11px; text-align: center; display: block; }

/* Fixes */

.redux-main .wp-picker-container{ vertical-align: middle; margin-bottom: 0; }
.redux-main .redux-info-field{ margin-bottom: 10px; }
.social-profile{ vertical-align: middle; margin: -4px 5px 0 0; }

.redux-container-sorter ul{ width: 175px; font-size: 11px; }
