.tooltipster-small {
	background: #fff;
	border-radius: 3px;
	box-shadow: 2px 2px 15px 0px rgba(0,0,0,.25);
}
.tooltipster-small .tooltipster-content {
	font: 12px 'Lato';
	color: #000;
	font-weight: 300;

	padding: 5px 10px;
}